// ------------------------------------------------------------
// Sizes
//
// ------------------------------------------------------------

$font-size--h1: pointsToPixels(30);
$font-size--h2: pointsToPixels(24);
$font-size--body: 16px;

$spacing: 20px;